@font-face
{
	font-family: 'Philosopher';
	src:url(../font/philosopher-v10-latin-regular.woff);
}
@font-face
{
	font-family: 'Bellefair';
	src:url(../font/Bellefair-Regular.woff);
}
.row
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Philosopher';
	letter-spacing: 1px;
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
a
{
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, p
{
	margin: 0px;
}
.p_70
{
	padding-bottom:70px;
}
#spnTop
{
	width:40px; 
    height:40px; 
    position:fixed;
    bottom: 60px;
    right:40px;
    display:none;
    z-index: 9999;
    background-color: #82052d;
    border-radius: 50%;	
   border:0;
}
.bottom_to_top
{
	color: #fff;
}
#spnTop:hover
{
	border:2px #82052d solid;
	background-color: #fff; 
}
#spnTop:hover .bottom_to_top
{
	color: #000;
}
.left_panel
{
	padding: 0px 0px;
	text-align: left;
	margin: 15px 0px;
}
.main_icon
{
	vertical-align: middle;
}
.bg_primary_1.shrink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:5;
    background-color:#82052d;
    animation: 1s ease 0s normal both 1 running autoplay;
}
@keyframes autoplay
{
		from
		{
			top: -100%;
		}to
		{
			top: 0;
		}
}
.main_menu li a
{
	color: #fff;
}
.center_panel
{
	text-align: center;
}
.right_panel
{
	position: relative;
}
.mob_menu_2
{
	text-align: right;
	position: relative;
}
.main_menu li
{
	display: inline-block;
	position: relative;
	padding: 38px 0;
}
.main_menu li a
{
	padding: 10px 25px;
	display: block;
	font-size: 16px;
}
.icon
{
	font-size: 14px;
	color: #fff;
	transform: rotateX(0deg);
	padding: 0px 0px 0px 6px;
}
.main_menu li:hover >a
{
	background-color: #f8bb00;
	border-radius: 25px;
	color: #000;
}
.main_menu li:hover .icon
{
	color: #000;
	transform: rotateX(180deg);
}
.trasform_1
{
	transform: translateX(0px);
}
.trasform_2
{
	transform: translateX(-128px);
}
.trasform_3
{
	transform: translateX(-254px);
}
.mega_sub li
{
	padding: 0;
}
.mega_menu_4 li
{
	padding: 0;
}
.mega_menu
{
	width: 680px;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	padding: 20px;
	box-shadow: 0px 0px 1px #777;
	border-top: 3px #f8bb00 solid;
	z-index: 6;
}
.grid
{
	display: grid;
	grid-template-columns: 25fr 25fr 25fr 25fr;
}

.main_menu li:hover .mega_menu
{
	display: block;
}
.mega_sub h4
{
	color: #000;
	border-bottom: 1px #e5e5e5 solid;
	padding: 8px 25px;
	font-size: 16px;
	text-align: left;
}
.mega_sub li 
{
	text-align: left;
	display: block;
}
.mega_sub li a
{
	color: #666;
	padding: 5px 25px;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.mega_sub li:hover>a
{
	background-color: #fff;
	color: #000;
}
.mega_menu_3
{
	width: calc(680px - 40px);
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 1px #777;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	border-top: 3px #f8bb00 solid;
	z-index: 6;

}
.main_menu li:hover .mega_menu_3
{
	display: block;
}
.mega_menu_4
{
	width: 175px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 1px #777;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	border-top: 3px #f8bb00 solid;
	z-index: 6;

}
.mega_menu_4 li a
{
	color: #666;
	padding: 5px 25px;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.mega_menu_4 li:hover>a
{
	background-color: #fff;
	color: #000;
}
.main_menu li:hover .mega_menu_4
{
	display: block;
}
.mega_menu_4 h4
{
	text-align: left;
	padding: 8px 25px;
}
.mega_menu_4 li
{
	text-align: left;
	display: block;
}
.right_panel .icon_sc
{
	display: inline-block;
	transform: rotateY(0deg);
	transition: 0.3s;
	text-align: center;
	color: #fff;
	font-size: 18px;
	padding: 45px 6px;
	cursor: pointer;
}
.right_panel .icon_sc:hover
{
	transform: rotateY(180deg);
}

.sub_menu_image
{
	position: relative;
	overflow: hidden;
}
.menu_image_2
{
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0);
	transition: 0.3s;

}
.main_menu_image:hover .menu_image_2
{
	transform: scale(1);
}
.menu_image .product_dec,.menu_image_making .product_dec
{
	text-align: center;
	padding-top: 10px;
	color: red;
	font-size: 16px;
	color: #222;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Bellefair', serif;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.menu_image .spcial_price,.menu_image_making .spcial_price
{
	text-align: center;
	padding: 5px 0px;

}
.menu_image .spcial_price .price,.menu_image_making .spcial_price .price
{
	font-size: 16px;
	color: #82052d;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
	padding: 0;
	text-align: left;
}
.menu_image .spcial_price .sale,.menu_image_making .spcial_price .sale
{
	display: inline-block;
	font-size: 12px;
	color: #000;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}
.menu_image .spcial_price .regular_price,.menu_image_making .spcial_price .regular_price
{
	display: inline-block;
	font-size: 14px;
	color: #666;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}
.menu_image
{
	position: relative;
}
.menu_image .item
{
	margin: auto;
}
.menu_image .owl-nav
{
	margin-top:0 !important;
	position: absolute;
	top: 50% !important;
	left: 0px !important;
	width: 100%;
	opacity: 0;
	transition: 0.2s;
}
.menu_image .owl-prev
{
	position: absolute;
	top: 0!important;
	left: 0px !important;
	font-size: 25px !important;
	color: #222 !important;
	transform: translateY(-50%);
	margin: 0 !important;
	outline: none;
}
.menu_image .owl-prev:hover
{
	background: none !important;
}
.menu_image .owl-next
{
	position: absolute;
	top: 0 !important;
	right: 0px !important;
	font-size: 25px !important;
	color: #222 !important;
	transform: translateY(-50%);
	margin: 0 !important;
	outline: none;
}
.menu_image .owl-next:hover
{
	background: none !important;
}
.mega_menu_3:hover .owl-nav
{
	opacity: 1;
}
.mob_menu,.mob_main_menu
{
	display: none;
}
.search_label
{
	position: absolute;
	top: 100%;
	right: 0;
	z-index: +2;
	border-top: 3px #f8bb00 solid;
	background-color: #fff;
	padding: 9px 65px 10px 10px;
}
.search_label input
{
	border: none;
}
.text::placeholder	
{
	color: #666;
	font-size: 14px;
	letter-spacing: 1px;
}
.social_icon_1
{
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	color: #666;
	font-size: 16px;
}
.search_label_1
{
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	padding: 15px;
	border-top: 3px #f8bb00 solid;
	box-shadow: 0px 0px 1px #777;
	width: 150px;
	z-index: +2;
	text-align: left;
}
.search_label_1 li
{
	padding: 0px;
}
.search_label_1 .langu
{
	display: block;
	padding: 0;
	color: #000;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
	border-bottom: 1px #e5e5e5 solid;
}
.search_label_1 span:last-child
{
	margin-top: 0;
}
.search_label_1  ul
{
	padding: 10px 0px;
}
.search_label_1 li
{
	color: #666;
	font-size: 14px;
}
.search_label_1 li:hover
{
	color: #000;
}
.product_count
{
	position: relative;
}
.cart_product_count
{
	position: absolute;
	top: -17px;
	right: 0;
	background-color: #f8bb00;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	color: #000;
	font-size: 12px;
	text-align: center;
	z-index: +1;
}
/*----------------------------------------------------------------slider--------------------------------------------*/
.slider:hover .owl-prev
{
	opacity: 1;
}
.slider:hover .owl-next
{
	opacity: 1;
}
.menu-image .item
{
	width: 186px;
}
.slider .owl-nav
{
	margin-top:0 !important;
}
.slider .owl-prev
{
	position: absolute;
	width: 50px !important;
	height: 50px;
	top: 50%;
	left: 20px;
	width: 100%;
	font-size: 20px !important;
	color: #fff !important;
	transform: translateY(-50%);
	margin: 0 !important;
	border:2px #fff solid !important;
	border-radius: 50% !important;
	outline: none;
	opacity: 0;
}
.slider .owl-next
{
	position: absolute;
	width: 50px !important;
	height: 50px;
	top: 50%;
	right: 20px;
	width: 100%;
	font-size: 20px !important;
	color: #fff !important;
	transform: translateY(-50%);
	margin: 0 !important;
	border:2px #fff solid !important;
	border-radius: 50% !important;
	outline: none;
	opacity: 0;
}
/*---------------------------------------------------------------banner------------------------------------------------*/
.offer .image_1
{
	position: relative;
	overflow: hidden;
}
.offer .image_1 img
{
	width: 100%;
	height: 100%;
}
.offer .offer_1
{
	padding-bottom: 30px;
}
.offer .offer_5
{
	padding-top: 30px;
}
.offer .image_1:before
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: scale(0,0);
	background-color: rgba(255, 255, 255,0.5);
}
.image_1:hover:before
{
	transform: scale(1,1);
	opacity: 0;
	transition: 2s;
}
.offer .image_1:after
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: bottom right;
	transform: scale(0,0);
	background-color: rgba(255, 255, 255,0.5);
}
.image_1:hover:after
{
	transform: scale(1,1);
	opacity: 0;
	transition: 2s;
}

/*-------------------------------------------------------trending-product--------------------------------------------------------*/
.header
{
	font-family: Bellefair;
	color: #111;
	font-size: 48px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 45px;
	background: url(../image/sepretar.png) no-repeat center bottom;
}
.nav-tabs
{
	border: 0px;
	margin-bottom: 30px;
}
.nav-tabs .nav-item
{
	margin: 0px;
}
.nav-tabs .nav-link.active
{
	border: 0px;
	color: #fff;
	background-color: #82052d;
	border-radius: 50px;
}
.nav-tabs .nav-link:hover
{
	border: 0px;
	color: #fff;
	background-color: #82052d;
	border-radius: 50px;	
}
.nav-tabs .nav-link
{
	border: 0px;
	border-radius: 0px;
	color: #000;
	padding: 10px 22px;
	margin: 0px 5px;
}
/*---------------------------------------------------------product------------------------------------------------------*/
.product_theme .item
{
	padding: 0px 15px;
}
.item .product_img .product_img_1
{
	position: relative;
	overflow: hidden;
}
.image_set_1 
{
	width: 100%;
	height: 100%;
}
.image_set_1 img
{
	width: 100%;
	height: 100%;
}
.item .product_img .image_set_1 
{
	//padding: 0px 15px;
	position: absolute;
	top:0;
	left: 0;
}
.item .product_img .peta_image_set_1
{
	transform: scale(0,0);
	transition: 0.5s;
}
.main_new_product
{
	padding: 15px;
}
.main_new_product .product_dec,.menu_product_dec .product_dec
{
	overflow: hidden;
	text-overflow: ellipsis;
}
.main_new_product .product_dec a,.menu_product_dec .product_dec a  
{
	white-space: nowrap;
	color: #222;
}
.button_bg
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	text-align: center;
	transition: 0.5s;
	transition-delay: .1s;
}
.item .product_img:hover .button_bg
{
	bottom: 15px;
	opacity: 1;
}
.main_button_1
{
	display: inline-block
}
.item .button_1
{
	width: 40px;
	height: 40px;
	background-image: url(../image/sprite-2.png);
	background-repeat: no-repeat;
	background-position: -36px -38px;
	border-radius: 50%;
	border: none;
	background-color: #82052D;
}
.new_product
{
	color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.item .product_img:hover .new_product
{
	color: #000;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	padding: 15px 20px;
	font-weight: 500;
}
.button_1:hover
{
	background-color: #f8bb00;
	background-position: 7px -38px;
}
.item .product_img:hover .peta_image_set_1
{
	transform: scale(1,1);
}



.main_button_2
{
	display: inline-block;
}
.item .button_2
{
	width: 40px;
	height: 40px;
	background-image: url(../image/sprite-2.png);
	background-repeat: no-repeat;
	background-position: -36px 7px;
	border-radius: 50%;
	border: none;
	background-color: #82052D;
}
.button_2:hover
{
	background-color: #f8bb00;
	background-position: 7px 7px;
}





.main_button_3
{
	display: inline-block;
}
.item .button_3
{
	width: 40px;
	height: 40px;
	background-image: url(../image/sprite-2.png);
	background-repeat: no-repeat;
	background-position: -36px -86px;
	border-radius: 50%;
	border: none;
	background-color: #82052D;
}
.button_3:hover
{
	background-color: #f8bb00;
	background-position: 7px -86px;
}

.main_button_4
{
	display: inline-block;
}
.item .button_4
{
	width: 40px;
	height: 40px;
	background-image: url(../image/sprite-2.png);
	background-repeat: no-repeat;
	background-position: -35px -127px;
	border-radius: 50%;
	border: none;
	background-color: #82052D;
}
.button_4:hover
{
	background-color: #f8bb00;
	background-position: 8px -127px;
}




.product_img .product_dec 
{
	font-size: 16px;
	color: #222; 
	font-weight: 500;
	font-family: 'Bellefair', serif;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: center;
}
.product_img .spcial_price
{
	padding: 5px 0px;
	text-align: center;
}
.product_img .spcial_price .price
{
	font-family: 'Philosopher', sans-serif;
	font-size: 16px;
	color: #82052d;
	letter-spacing: 0.5px;
	padding: 0;
}
.product_img .spcial_price .sale
{
	display: inline-block;
	font-size: 12px;
	color: #000;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}
.product_img .spcial_price .regular_price
{
	display: inline-block;
	font-size: 14px;
	color: #666;
	font-family: 'Philosopher', sans-serif;
	letter-spacing: 0.5px;
}

.owl-nav
{
	margin-top: 0 !important;
}
.product_theme .owl-nav,.product-accessories .owl-nav
{
	padding-top: 40px;
}
.product_theme .owl-prev,.product-accessories .owl-prev
{
	margin: 0px 2px 0px 0px!important;
	width: 35px;
    height: 35px;
    font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
    position: relative;

}
.product_theme .owl-prev:before,.product-accessories .owl-prev:before
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 43%;
	left: -60px;
	transform: translateY(-50%);
	width: 60px;
	height: 1px;
	//background:red;
}
.product_theme .owl-prev:after,.product-accessories .owl-prev:after
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 57%;
	left: -40px;
	transform: translateY(-50%);
	width: 40px;
	height: 1px;
	//background:red;
}
.product_theme .owl-prev:hover,.product-accessories .owl-prev:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
.product_theme .owl-next,.product-accessories .owl-next
{
	margin: 0px 0px 0px 2px!important;
	width: 35px;
    height: 35px;
   font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
     position: relative;
}
.product_theme .owl-next:hover,.product-accessories .owl-next:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
.product_theme .owl-next:before,.product-accessories .owl-next:before
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 43%;
	right: -60px;
	transform: translateY(-50%);
	width: 60px;
	height: 1px;
}
.product_theme .owl-next:after,.product-accessories .owl-next:after
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 57%;
	right: -40px;
	transform: translateY(-50%);
	width: 40px;
	height: 1px;
	//background:#e5e5e5;
}
/*--------------------------------------------------------------------------------wine-1996--------------------------------------*/
.p_70 .wine_1996
{
	height: 720px;
	background-color: gray;
	background-image: url(../image/parel-x.jpg);
	background-size: cover;
	
}
.layer_1
{
	padding-top: 100px;
	text-align: center;
}
 .layer_1 .wrapper_1
{
	padding-top: 40px;
	transform:  scale(0.9);
	transition: 1s;	
}
 .layer_1:hover .wrapper_1
{
	transform:  scale(1);
}

.layer_1 .decription
{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	padding-top: 20px;
	text-align: center;
	font-size: 14px; 
	font-weight: 600;
	margin: 20px 20px;
	line-height: 25px;
	letter-spacing: 1px;
}
.layer_1 .button_1_1
{
	padding-top: 20px;
}
.button_1_1 button
{
	
	border-radius: 30px;
	padding: 12px 22px;
	border: none;
	background-color: #fff;
	cursor: pointer;
}
.button_1_1 button a
{
	display: inline-block;
	font-family: 'Philosopher', sans-serif;
	font-size: 14px;
	color: #000;
	letter-spacing: 1px;
	font-weight: 420;
}
.button_1_1 button:hover
{
	background-color: #f8bb00; 
}
.wabout_1
{
	color: #fff;
}
.wabout_1 .wine_text
{
	font-size: 40px;
	font-weight: 400;
}
.wabout_1 .text_2
{
	font-size: 70px;
}
.wabout_1 .text_3
{
	position: relative;
	font-size: 14px;
	font-weight: 400;
}
.text_3:after
{
	border-top: 1px #adadad solid;
	content: '';
	position: absolute;
	 top: 61%;
    left: 33.5%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 1px;
}
.text_3:before
{
	border-top: 1px #adadad solid;
	content: '';
	position: absolute;
	 top: 61%;
    right: 20.5%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 1px;
}
.main_wine_1996 .owl-item:nth-child(2)
{
	float: right;
}
.main_wine_1996 .owl-item img
{
	width: auto;
	display: inline-block;
}
.layer_3
{
	padding-top: 100px;
	text-align: center;
}
.layer_3 .wabout_2
{
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
	letter-spacing: 2px;
}
 .layer_3 .wrapper_3
{
	padding-top: 20px;
	transform: scale(0.9);
	transition: 1s;
}
 .layer_3:hover .wrapper_3
{
	transform: scale(1);
}

.layer_3 .wa_price_3
{
	color: #f8bb00;
	font-size: 40px;
	font-weight: 400;
	padding-top: 15px;
}
.layer_3 .button_1_1
{
	padding-top: 35px;
}
.layer_2
{
	padding-top: 80px;
	text-align: center;
}
 .layer_2 .wrapper_2
{
	transform:  scale(0.9);
	transition: 1s;
}
 .layer_2:hover .wrapper_2
{
	transform:  scale(1);
}
.layer_3:hover ~ .layer_2>.wrapper_2
{
	transform: scale(1);
}
.layer_1:hover ~ .layer_2>.wrapper_2
{
	transform:scale(1);
}
/*-------------------------------------------------subbanner-------------------------------------------------------------------*/
.subbanner img
{
	width: 100%;
}
.subbanner
{
	position: relative;
	overflow: hidden;
}
.subbanner:before
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: scale(0,0);
	background-color: rgba(255, 255, 255,0.5);
}
.subbanner:hover:before
{
	transform: scale(1,1);
	opacity: 0;
	transition: 2s;
}
.subbanner:after
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: bottom right;
	transform: scale(0,0);
	background-color: rgba(255, 255, 255,0.5);
}
.subbanner:hover:after
{
	transform: scale(1,1);
	opacity: 0;
	transition: 2s;
}
/*---------------------------------------------------------background-------------------------------------------*/
.background
{
	background-image:url(../image/background-image.jpg);
	height: 550px;
	background-size: cover;
	background-attachment: fixed;	
	color: #fff;
	background-position: 0px -80px;
}
.client .item .client_user 
{
	text-align: center;
	padding: 106px 0px;
}
.client .item .client_image
{
	padding-bottom: 40px;
}
.client .item .client_image img
{
	width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	border: 5px #fff solid;
}
.client_title
{
	font-size: 18px; 
	display: inline-block;
	color: #ccc;
	text-transform: uppercase;
	font-weight: 400;
}
.client_subtitle
{

	font-size: 14px; 
	display: inline-block;
	//margin: -20px -256px 0px 0px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 400;
}
 .client_dec
{
	margin: 22px 150px;
	line-height: 28px;
	font-family: 'Bellefair', serif;
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 1px;
}
.owl-dots
{
	outline: none !important;
	margin-top: 10px;
    position: absolute;
    top: 78%;
    left: 0;
    width: 100%
}
.owl-dot span
{
	width: 12px !important;
    height: 12px !important;	
	background: #d7d7d7 !important;
	transition: 1s !important;
}
.owl-dot.active span 
{
	background: #82052d !important;
    width: 14px !important;
    height: 14px !important;
    
}

/*--------------------------------------------------latest-news-----------------------------------------------------------------------*/
.grid_latest
{
	display: grid;
	grid-template-columns: 33.33fr 33.33fr 33.33fr;
}
.owl-nav
{
	margin-top: 0 !important;
}
.latest_news .owl-nav
{
	//padding-top: 40px;
}
.latest_news .owl-prev
{
	margin: 0px 2px 0px 0px!important;
	width: 35px;
    height: 35px;
    font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
    position: relative;

}
.latest_news .owl-prev:before
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 43%;
	left: -60px;
	transform: translateY(-50%);
	width: 60px;
	height: 1px;
	//background:red;
}
.latest_news .owl-prev:after
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 57%;
	left: -40px;
	transform: translateY(-50%);
	width: 40px;
	height: 1px;
	//background:red;
}
.latest_news .owl-prev:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
.latest_news .owl-next
{
	margin: 0px 0px 0px 2px!important;
	width: 35px;
    height: 35px;
   font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
     position: relative;
}
.latest_news .owl-next:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
.latest_news .owl-next:before
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 43%;
	right: -60px;
	transform: translateY(-50%);
	width: 60px;
	height: 1px;
}
.latest_news .owl-next:after
{
	border-top: 1px #eee solid;
	content: '';
	position: absolute;
	top: 57%;
	right: -40px;
	transform: translateY(-50%);
	width: 40px;
	height: 1px;
	//background:#e5e5e5;
}


.blog_post
{
	height: 325px;
}
 .main_blog_content 
{
	position: relative;
}
.main_blog_content .main_blog_layer
{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	opacity: 0;
	transform-origin: center;
	overflow: hidden;
}
.blog_post:hover .main_blog_layer
{
	opacity: 1;
	//transition:1s;
}
.main_blog_content button
{
	cursor: pointer;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	width: 45px;
	height: 45px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 50%;
	border: 2px #fff solid;
	transition:0.2s;
	transform-origin: center;
	color: #fff;
	z-index: +1;
}

.blog_post:hover .main_blog_content>button
{
	transform: translate(-50%,-50%) scale(1);
}
.main_blog_content button:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 110%;
	height: 110%;
	background-color: #82052D;
	border: 2px #82052D solid;
	border-radius: 50%;
	opacity: 0;
	z-index: -1;
	border: none;
}
.main_blog_content button:hover:after
{
	background-color: #82052D;
	opacity: 1;
}
.blog_content
{
	vertical-align: middle;
	width: 85%;
	margin:  -35px auto;
	text-align: center;
	padding: 30px 5px;
	background-color: #fff;
	box-shadow: 0px 0px 8px  rgba(0,0,0,0.1);
	position: relative;
}
.blog_1
{
	font-size: 18px;
	color: #111111;
	//font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Bellefair', serif;
}
.blog_2
{
	display: inline-block;
	font-size: 14px;
	color: #111111;
	font-weight: 400;
	letter-spacing: 1px;
	//font-family: 'Philosopher', sans-serif;
}
.blog_3
{
	display: inline-block;
	font-size: 14px;
	color: #333333;
	font-weight: 400;
	letter-spacing: 1px;
	//font-family: 'Philosopher', sans-serif;
}
/*----------------------------------------------------------brand-image-------------------------------------------------------------------*/
.main_brand_image
{
	position: relative;
}
.brand_image .item
{
	width: 70%;
	margin: auto;
	opacity: 0.8;
}
.brand_image .item:hover
{
	opacity: 1;
}


.main_brand_image:hover .owl-nav
{
	opacity: 1;
}
.owl-nav
{
	margin-top: 0 !important;
}
.brand_image .owl-nav
{
	//padding-top: 40px;
	opacity: 0;
}
.brand_image .owl-prev
{
	position: absolute !important;
	top: 50%;
	left: 0 !important;
	width: 100%;
	transform: translateY(-50%);
	margin: 0px 2px 0px 0px!important;
	width: 35px;
    height: 35px;
    font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
    position: relative;
}
.brand_image .owl-prev:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
.brand_image .owl-next
{
	position: absolute !important;
	top: 50%;
	right: 0 !important;
	width: 100%;
	transform: translateY(-50%);
	right: 0 !important;
	margin: 0px 0px 0px 2px!important;
	width: 35px;
    height: 35px;
   font-size: 12px !important;
    text-align: center;
    border: 1px #e5e5e5 solid !important;
    border-radius: 50% !important;
    background: #fff !important;
    outline: none;
     position: relative;
}
.brand_image .owl-next:hover
{
	background: #82052d !important;
	border: none !important;
	outline: none;
	color: #fff;
}
/*------------------------------------------------------------------------footer---------------------------------------------------*/
.footer
{
	background-color: #111;
}
.footer_top
{
	//display: grid;
	//grid-template-columns: 50fr 50fr;
}
.main_wa_content
{
	margin: 32px 0px;
}
.wa_content
{
	position: relative;
}
.footer_top .block_title h3
{
	font-family: 'Bellefair', serif;
	color: #fff;
	font-size: 32px;
	font-weight: 400;
	padding: 5px 0px 5px 55px;
	margin: 0;
	text-transform: uppercase;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.block_title:after
{
	content: '';
	background: url(../image/sprite.png);
	background-position: -30px -475px;
	width: 50px; 
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	
}
.footer_top .wa_dec
{
	color: #fff;
	letter-spacing: 1px;
	padding: 5px 0px;
	font-size: 14px;
}
.wa_subscribe
{
	margin: 50px 0px;
	font-family: 'Bellefair', serif;
}
.wa_button
{
	position: relative;
}
.wa_button button
{
	letter-spacing: 1px;
	font-weight: 500;
}
.wa_button button:hover
{
	background-color: #f8bb00;
	color: #000;
	font-weight: 600;
}
.email
{
	width: calc(100% - 20px);
	padding: 15px 0px 15px 20px;
	border: none;
	color: #fff;
	border-radius: 30px;
	font-family: 'Philosopher', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
}
.email:placeholder
{
	color: #111;
}
.wa_button button
{
	position: absolute;
	font-family: 'Philosopher', sans-serif;
	top: 0;
	right: 0;
	border-radius: 30px;
	padding: 15px 35px 11px 35px;
	background-color: #82052D;
	border: none;
	color: #fff;
}
.footer_top
{
	position: relative;
}
.footer_top:after
{
	content: '';
	//border-bottom: 2px red solid;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #222;
	width: 100%;
	height: 1px;

}
.footer_grid
{
	//display: grid;
	//grid-template-columns: 25fr 25fr 25fr 25fr;
	//grid-column-gap: 15px;
}
.center_footer
{
	padding: 80px 0px;
	position: relative;
}
.center_footer:after
{
	content: '';
	//border-bottom: 2px red solid;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #222;
	width: 100%;
	height: 1px;
}
.footer_dec
{
	color: #999;
	font-size: 16px;
	margin-top: 20px;
}
.footer_1 h3
{
	font-family: 'Bellefair', serif;
	margin-bottom: 25px;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
.footer_1 ul li span
{
	display: inline-block;
}
.foo_i
{
	color: #999;
	font-size: 16px!important;
	padding: 0px 22px 0px 0px;
	vertical-align: middle;
}
.footer_icon
{
	color: #999;
	font-size: 16px!important;
	padding-right: 8px;
	vertical-align: middle;
}
.wrapper_links_1 ul li:hover .footer_icon
{
	color: #f8bb00;
}
.footer_icon_1
{
	font-size: 18px!important;
	color: #999;
	padding-right: 20px;
	vertical-align: middle;
}
.wrapper_links_1 ul li a
{
	display: inline-block;
	color: #999;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	padding: 3px 0px;
}
.wrapper_links_4 li a
{
	display: inline-block;
	color: #999;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	padding: 5px 0px;
}
.wrapper_links_1 ul li:hover a
{
	color: #f8bb00;
}
.wrapper_links_4 li c:hover:last-child 
{
	color: #f8bb00;
}
.bottom_footer
{
	text-align: center;
}
.footer_text 
{
	padding: 10px 0px;
	padding: 15px 0px;
}
.footer_text a
{
	color: #999;
}
.footer_text a:hover 
{
	color: #f8bb00;
}
.block_social
{
	padding: 5px;
}
.block_social ul li
{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0px 5px 0px 0px;
}
.block_social ul li a
{
	display: inline-block;
	height: 30px;
	width: 30px;
	position: relative;
}
.block_social ul li a:before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.plus_icon_1
{
	display: none;
}
.block_social ul .facebook a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -25px;
}
.block_social ul .facebook a:hover:before
{
	background-position: -105px -25px;
}
.block_social ul .twitter a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -105px;
}
.block_social ul .twitter a:hover:before
{
	background-position: -105px -105px;
}
.block_social ul .rss a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -185px;
}
.block_social ul .rss a:hover:before
{
	background-position: -105px -185px;
}
.block_social ul .youtube a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -265px;
}
.block_social ul .youtube a:hover:before
{
	background-position: -105px -265px;
}
.block_social ul .google_plus a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -345px;
}
.block_social ul .google_plus a:hover:before
{
	background-position: -105px -345px;
}
.block_social ul .pinterest a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -425px;
}
.block_social ul .pinterest a:hover:before
{
	background-position: -105px -425px;
}
.block_social ul .vimeo a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -505px;
}
.block_social ul .vimeo a:hover:before
{
	background-position: -105px -505px;
}
.block_social ul .instagram a:before
{
	content: '';
	background: url(../image/social-sprite.png);
	background-position: -25px -585px;
}
.block_social ul .instagram a:hover:before
{
	background-position: -105px -585px;
}